.footer{
    padding-top: 30px;
}
.footer_social{
    display: flex;
}
.footer_social svg{
    margin-right: 20px;
    font-size: 30px;
}
.footer_links{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_links a{
    width: 25%;
    margin-top: 10px;
}
.footer_rights{
    margin-top: 30px;
    color: white;
}
.footer_rights span{color: rgb(233, 32, 32);}